
body{
    background-color: #DADCB7;
}

header p{
    font-family: "Comic Sans MS", Arial;
    float: left;
    color: #3E363F;
    height: 70px;
}

header nav{
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 70px;
}

header nav a{
    text-decoration: none;
    font-family: "Comic Sans MS", Arial;
    display: flex;
    justify-items: center;
    align-items: center;
    color:#3E363F;
    border-radius: 5px;
    height: 27px;
    padding: 3px
}

header nav a:hover{
    background: #3E363F;
    color: #B4BB85;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hero h1{
    color: #DADCB7;
    font-family:  "Comic Sans MS", Arial;
    font-size: 4em;
}

#hero p{
    color:#DADCB7;
    font-family: Arial, Helvetica, sans-serif;
}

#hero section{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("Images/image1.png");
    background-size:contain;
    background-repeat: no-repeat;
    border: solid 3px #3E363F;
    width: 100%;
    height:1523px;
    border-radius: 5px;
}

#hero div.button-box{
    display: flex;
    justify-content: center;
}

a.find-game{
    background-color: #3E363F;
    color: #B4BB85;
    text-decoration: none;
    border-radius: 5px;
    height: 25px;
    width: 90px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.find-game:hover{
    background-color: #DADCB7;
    color:#3E363F;
}